name: Docker Image CI

on:
  push:
    branches:
      - master
  pull_request:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.PAT_PACKAGE_TOKEN }}

    - name: Build Image
      run: docker build -t ghcr.io/${{ github.repository }}:latest .
        
    - name: Push Image
      run: docker push ghcr.io/${{ github.repository }}:latest

    - name: Deployment on Azure App Service
      run: curl https://\${{ secrets.AZURE_APP_SERVICE_WEBHOOK }}@intelligencefeeds.scm.azurewebsites.net/docker/hook -H "" -d ""

